/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(100deg, #40999f, #577590, #3e5559) fixed; */
  color: whitesmoke;
}
.app {
  text-align: center;
}

.app > h3 {
  font-style: italic;
  text-transform: capitalize;
  color: var(--yellow);
}

.btn {
  background-color: whitesmoke;
  margin: 3px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #498b99;
  font-weight: 500;
}

.btn:hover {
  background-color: #498b99;
  color: whitesmoke;
  font-weight: 700;
  border: 1px solid #498b99;
}

/* GRID */

.form-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  place-items: center;
}

input[type='text'] {
  border: 1px solid var(--black);
  border-radius: 3px;
  height: 30px;
  font-weight: bold;
  color: #40989e;
  text-align: center;
  margin-left: 10px;
  font-size: 15px;
}
input[type='password'] {
  border: 1px solid var(--black);
  border-radius: 3px;
  height: 30px;
  color: #40989e;
  text-align: center;
  margin-left: 10px;
  font-size: 15px;
}

input[type='number'] {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  height: 30px;
  font-weight: bold;
  color: #40989e;
  text-align: center;
  margin-left: 10px;
}

select {
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-left: 10px;
  color: #40989e;
  font-weight: bold;
}

.PwdLength {
  text-align: center;
}

.crackTime {
  color: var(--black);
  font-style: italic;
}

.error {
  color: tomato;
  font-size: small;
  font-style: italic;
  text-align: center;
}

/* MEDIA Queries!  For mobile devices
360px < width < 420px
667px < height < 900px

*/
@media screen and (min-width: 360px) and (max-width: 420px) and (min-height: 667px) and (max-height: 900px) {
  html {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
    color: var(--yellow);
    text-shadow: 0px 2px 0 rgba(165, 19, 19, 0.07);
  }
  .form-parent {
    place-items: start;
    margin-left: 20px;
  }

  input[type='text'] {
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    font-weight: bold;
    color: #40989e;
    text-align: center;
    margin-left: inherit;
    font-size: 10px;
  }
  input[type='password'] {
    border: 1px solid whitesmoke;
    border-radius: 3px;
    height: 30px;
    width: 200px;
    color: #40989e;
    text-align: center;
    margin-left: inherit;
    font-size: 10px;
  }

  input[name='specialChars'] {
    height: 20px;
    width: 100px;
    font-size: 10px;
    margin-left: 10px;
    border: 1px solid whitesmoke;
  }
  .btn {
    border: 1px solid whitesmoke;
    border-radius: 3px;
  }

  .btn-submit {
    place-self: center;
  }
}
